@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.eb-garamond-font{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared style */
.text-light-gray{
    color: #707070;
}

.dark-gray{
    color: #414040;
}
.brown-color{
    background-color: #B68C5A;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    padding: 18px;
}

/* nav style */
.navbar{
    display: flex;
    justify-content: space-around;
}
.nav-list{
    display: flex;
    gap: 30px;
    
    list-style: none;
    align-items: center;
    font-size: 1rem;
}
.list-item{
    text-decoration: none;
}
.nav-titel{
    font-size: 2rem;
    font-weight: 800;
}
.nav-btn{
    width: 220px;
    height: 64px;
    font-size: 1rem;
    
}
/* banner style */
.banner-container{
    width: 692px;
    margin: 0 auto;
    padding-top: 104px;
    padding-right: 139px;
    padding-left: 139px;
    
}
.banner-section{
   background-image: url("../images/banner.png");
   width: 1170px;
   height: 550px;
   margin: 0 auto;
}
.banner-content{
    text-align: center;
    color: white;
    
}
.banner-pera{
    font-size: 1rem;
    
}
.banner-info{
   text-align: center;
   
}
.banner-info input{
   padding-top: 19px;
   padding-bottom: 19px;
   width: 500px;
   border-radius: 8px;
   border: none;
}
.banner-btn{
    font-size: 1rem;
    font-weight: 500px;
    background-color: #B68C5A;
    color: white;
   padding-top: 17px;
   padding-bottom: 17px;
   padding-right: 39px;
   padding-left: 39px;
   border-radius: 9px;
   border: none;
   margin-left: 24px;
}
/* legal section */
.legal-head{
   text-align: center;
   margin-top: 120px;
}
.legal-titel{
    font-size: 2.5rem;
}
.legal-card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 , 1fr);
}
.legal-card{
    
   
    text-align: center;
    margin: 0 auto;
    padding-left: 72px;
    padding-right: 71px;
    padding-bottom: 91px;
    padding-top: 35px;
    box-shadow: 0 1px 1px 0;
    

   
}

.legal-card h3{
font-size: 2rem;
font-weight: 900;
color: #414040;
}
/* client section style */
.client-section{
    margin-top: 120px;
}
.client-header{
    text-align: center;
}
.client-header h2{
    font-size: 2.5rem;
    font-weight: 1000;
    color: #414040;
}
.client-header p{
    font-size: 1rem;
    color: #707070;
   

}
.client-banner{
    background-image: url(../images/banner.png);
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 135px;
    padding-right: 135px;
    height: 500px;
    background-repeat: no-repeat;
    width: 900px;
    margin: 0 auto;
    
   
}
.client-container{
    text-align: center;
    color: white;
    width: 700px;
    margin: 0 auto;

}
.client-container h2{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 4px;
}
.client-container h3{
    font-weight: 1rem;
    font-weight: 300;
    
}

.client-container p{
    font-size: 1rem;
    
}
/* ques section */
.question-header{
    text-align: center;
}
.question-header h1{
    font-size: 2rem;
    font-weight: 900;
    color: #414040;
}
.question-header p{
    font-size: 1rem;
    color: #707070;
}
.ques-banner{
   display: flex;
   align-items: center;
   justify-content: center;
}


.ques-card{
    border-radius:10px ;
    background-color: #F3F3F3;
    padding-top:35px ;
    width: 570px;
   
    
}
.ques-card p{
    padding-left: 32px;
}
.ques-content{
    display: grid;
    grid-template-rows: repeat(4 , 1fr);
    gap: 30px;

}